#### Data Structures
- Sets
- Dictionaries
- Lists
- Tuples

#### 1.Lists
- Lists are ordered, mutable (can be changed), and can hold different data types

##### Add an item to the list
- use append

In [13]:
fruits = ["apple","banana","cherry"]
#add item to the list
fruits.append("mango")
fruits

['apple', 'banana', 'cherry', 'mango']

#### Removing an item from the list
- remove - removes using the value
- pop  - removes using the index

In [14]:
fruits.pop(1)
fruits

['apple', 'cherry', 'mango']

In [17]:
fruits.remove("apple")
fruits

['cherry']

#### 2.Tuples
- cannot be changed(immutable) ordered like a list denoted using ()

In [23]:
image_pixels = (1920,1080)
# how many times the value appears in a list
image_pixels.count(1080)

1

In [ ]:
# returns the index of the value
image_pixels.index(1920)

0

In [ ]:
#finds the value in that index
image_pixels[1]

1080

#### 3. Sets
- unordered, mutable, denoted by {}
- Do not take duplicates
- set methods: intersection, union

In [27]:
set1 = {5,7,6,8,4}
set2 = {1,2,3,4,9}

In [28]:
#shows the shared value between the two sets
set3 = set1.intersection(set2)
set3

{4}

In [ ]:
#does not take duplicates
set4 = set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 4. Dictionaries
- denoted by {}
- stores key pair values
- mutable

In [30]:
person = {
    "name":"Mercy",
    "age": 22,
    "fruit": "melon"
}

In [31]:
person

{'name': 'Mercy', 'age': 22, 'fruit': 'melon'}

In [36]:
data = {
    "name":["Ian","Ken","Gloria","Suzzie","Melissa"],
    "age":[22,21,22,23,24],
    "fruits":["apple","orange","cherry","mango","grapes"]
}

In [ ]:
#pandas is a python library used for working with tabular data
import pandas as pd
# dataframe- a table in python
df= pd.DataFrame(data) 
#df.head - used to preview the first rows of a data frame
df.head()

      name  age  fruits
0      Ian   22   apple
1      Ken   21  orange
2   Gloria   22  cherry
3   Suzzie   23   mango
4  Melissa   24  grapes