#### Data Types

In [2]:
x =10
y =20
z = 3

In [17]:
type(x)

int

In [18]:
name = 'Mercy'

In [19]:
type(name)

str

#### Formatted string
allows you to combine different data types in your output

In [ ]:
year_of_birth = int(input("Enter your year of birth: "))
age = 2025 - year_of_birth
print(f"I am {age} years old")

In [ ]:
#power

x**3

1000

In [ ]:
#modulus -  gives you the remainder after dividing one number with another -rep by %

y%z

2

#### Logical operators
They include
-and
-or
-not

#### Comparison operators
- equals to ==
- Not equal to !=
- greater than  >
- less than <
- greater than or equal to >=
- less than or equal to <=

In [3]:
print(x+y, x**y, x%y)

30 100000000000000000000 10

In [4]:
# y greater than x and z<5
y > x and z<5

True

#### CONTROL FLOWS
1. conditional statements
if ... 
elif
else
if ...else two conditions
if..elif..else multiple conditions

In [9]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Considered an adult")
elif age >=15:
    print("Considered a teenager")
else:
    print("Considered a child")

Considered a child

#### LOOPs
- FOR LOOPS -- iterates through every element in a given data structure
- WHILE LOOPS -- only when the condition remains true

In [3]:
#list of fruits
fruits = ["melon","mango","pawpaw","apple","banana"]
for fruit in fruits:
    print(fruit)

melon
mango
pawpaw
apple
banana

In [27]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    print(number, end = " ")

1 2 3 4 5 6 7 8 9 10

In [2]:
#while loop
# counting from 0 and stop at 5
count = 0
while count < 5:
    print(count)
    count +=1

0
1
2
3
4

#### control flow statements
#### break, continue and pass

- **Break** -terminate a loop
- **Continue** - Skips the condition in the iteration
- **Pass** - Does nothing

In [ ]:
#Break
for num in numbers:
    if num >=5:
        break
    print(num)

1
2
3
4

In [35]:
#continue
for num in numbers:
    if num >=5:
        continue
    print(num)

1
2
3
4

In [36]:
#pass
for num in numbers:
    if num >=5:
        pass
    print(num)

1
2
3
4
5
6
7
8
9
10

### List Comprehensions
easier way of creating list from loops

In [38]:
even_numbers = [i for i in range(0,11) if i%2 ==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [39]:
square_numbers = [i**2 for i in range (0,26)]
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [4]:
odd_numbers = [i for i in range(0,51) if i%2 !=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### Function
A block of reusable code

In [44]:
def add(x,y):
    return x +y

In [47]:
add1 = add(2,3)
print(add1)

5

In [48]:
#function to multiply 3 numbers
def multiply(x,y,z):
    return (x*y*z)

In [49]:
result = multiply(4,5,6)
print(result)

120

In [5]:
def greet(name):

    return f"Hello {name}"

In [7]:
name1 = greet("Ian")
name1

'Hello Ian'

In [8]:
def plus():
    first_number = int(input("Enter your first number"))
    second_number = int(input("Enter your second number"))
    return first_number + second_number

In [10]:
plus1 = plus()
plus1

44

In [12]:
def bmi():
    weight_of_p =float(input("Enter your weight:"))
    height_of_p = float(input("Enter your height in cm:"))
    return(weight_of_p/(height_of_p*height_of_p))

bmi1 = bmi()
bmi1

0.01004095653322764

#### Lambda functions
- simple one line functions

In [13]:
product = lambda x,y,z:  x*y*z

In [14]:
product1 = product(10,20,9)
product1

1800

In [16]:
#write a lambda function to greet you
greetings = lambda name: f"hello {name}"

In [17]:
greetings1 = greetings("Ian")
greetings1

'hello Ian'

In [30]:
# a function to check if a number is even or odd
def number_checker():
    num = int(input("enter your number:"))
    if num % 2 == 0:
        print("even number")
    elif num % 2 != 0:
        print("Number is odd")
    else:
        print("sorry")

In [33]:
number1 = number_checker()
number1

Number is odd